:root {
    --primary: #242448;
    --secondary: #2A516A;
    --dark: #2B2D42;
    --mid: #8D99AE;
    --light: #EDF2F4;
    --poppins-medium: 400;
    --poppins-heavy: 700;
}

* {
    font-family: 'Poppins', serif;
    color: var(--light);
}

html {
    background-color: var(--mid);
}

body {
    margin: 0px 10px;
}